[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           16px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/ffmq/benjamin/sheets/previews/sprites.31.0.8.x.203.png);
}
.icon-custom-001benjamin {background-position:-100.000000% 0}/*  1/38 */
.icon-custom-Aerith      {background-position: -97.368421% 0}/*  2/38 */
.icon-custom-Airship     {background-position: -94.736842% 0}/*  3/38 */
.icon-custom-Bartz       {background-position: -92.105263% 0}/*  4/38 */
.icon-custom-Blackchocobo{background-position: -89.473684% 0}/*  5/38 */
.icon-custom-Blackmage   {background-position: -86.842105% 0}/*  6/38 */
.icon-custom-Cloudff7    {background-position: -84.210526% 0}/*  7/38 */
.icon-custom-Core        {background-position: -81.578947% 0}/*  8/38 */
.icon-custom-Cube        {background-position: -78.947368% 0}/*  9/38 */
.icon-custom-Dcecil      {background-position: -76.315789% 0}/* 10/38 */
.icon-custom-Dragon      {background-position: -73.684211% 0}/* 11/38 */
.icon-custom-Edge        {background-position: -71.052632% 0}/* 12/38 */
.icon-custom-Faris       {background-position: -68.421053% 0}/* 13/38 */
.icon-custom-Ff1ninja    {background-position: -65.789474% 0}/* 14/38 */
.icon-custom-Ffl2-pc     {background-position: -63.157895% 0}/* 15/38 */
.icon-custom-Fighter     {background-position: -60.526316% 0}/* 16/38 */
.icon-custom-Fusoya      {background-position: -57.894737% 0}/* 17/38 */
.icon-custom-Gblink      {background-position: -55.263158% 0}/* 18/38 */
.icon-custom-Guide       {background-position: -52.631579% 0}/* 19/38 */
.icon-custom-Kain        {background-position: -50.000000% 0}/* 20/38 */
.icon-custom-Kirby       {background-position: -47.368421% 0}/* 21/38 */
.icon-custom-Linklttp    {background-position: -44.736842% 0}/* 22/38 */
.icon-custom-Locke       {background-position: -42.105263% 0}/* 23/38 */
.icon-custom-Mogff6      {background-position: -39.473684% 0}/* 24/38 */
.icon-custom-Moogle      {background-position: -36.842105% 0}/* 25/38 */
.icon-custom-Nesfighter  {background-position: -34.210526% 0}/* 26/38 */
.icon-custom-Neslink     {background-position: -31.578947% 0}/* 27/38 */
.icon-custom-Pcecil      {background-position: -28.947368% 0}/* 28/38 */
.icon-custom-Pirate      {background-position: -26.315789% 0}/* 29/38 */
.icon-custom-Ray-sots    {background-position: -23.684211% 0}/* 30/38 */
.icon-custom-Rooks       {background-position: -21.052632% 0}/* 31/38 */
.icon-custom-Roto        {background-position: -18.421053% 0}/* 32/38 */
.icon-custom-Rydia       {background-position: -15.789474% 0}/* 33/38 */
.icon-custom-Sabin       {background-position: -13.157895% 0}/* 34/38 */
.icon-custom-Samus       {background-position: -10.526316% 0}/* 35/38 */
.icon-custom-Subrosian   {background-position:  -7.894737% 0}/* 36/38 */
.icon-custom-Tifa        {background-position:  -5.263158% 0}/* 37/38 */
.icon-custom-Ultros      {background-position:  -2.631579% 0}/* 38/38 */
