[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           16px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/ffmq/benjamin/sheets/previews/sprites.31.0.8.x.261.png);
}
.icon-custom-001benjamin {background-position:-100.000000% 0}/*  1/39 */
.icon-custom-Aerith      {background-position: -97.435897% 0}/*  2/39 */
.icon-custom-Airship     {background-position: -94.871795% 0}/*  3/39 */
.icon-custom-Bartz       {background-position: -92.307692% 0}/*  4/39 */
.icon-custom-Blackchocobo{background-position: -89.743590% 0}/*  5/39 */
.icon-custom-Blackmage   {background-position: -87.179487% 0}/*  6/39 */
.icon-custom-Cloudff7    {background-position: -84.615385% 0}/*  7/39 */
.icon-custom-Core        {background-position: -82.051282% 0}/*  8/39 */
.icon-custom-Cube        {background-position: -79.487179% 0}/*  9/39 */
.icon-custom-Dcecil      {background-position: -76.923077% 0}/* 10/39 */
.icon-custom-Dragon      {background-position: -74.358974% 0}/* 11/39 */
.icon-custom-Edge        {background-position: -71.794872% 0}/* 12/39 */
.icon-custom-Faris       {background-position: -69.230769% 0}/* 13/39 */
.icon-custom-Ff1ninja    {background-position: -66.666667% 0}/* 14/39 */
.icon-custom-Ffl2-pc     {background-position: -64.102564% 0}/* 15/39 */
.icon-custom-Fighter     {background-position: -61.538462% 0}/* 16/39 */
.icon-custom-Fusoya      {background-position: -58.974359% 0}/* 17/39 */
.icon-custom-Gblink      {background-position: -56.410256% 0}/* 18/39 */
.icon-custom-Guide       {background-position: -53.846154% 0}/* 19/39 */
.icon-custom-Kaeli       {background-position: -51.282051% 0}/* 20/39 */
.icon-custom-Kain        {background-position: -48.717949% 0}/* 21/39 */
.icon-custom-Kirby       {background-position: -46.153846% 0}/* 22/39 */
.icon-custom-Linklttp    {background-position: -43.589744% 0}/* 23/39 */
.icon-custom-Locke       {background-position: -41.025641% 0}/* 24/39 */
.icon-custom-Mogff6      {background-position: -38.461538% 0}/* 25/39 */
.icon-custom-Moogle      {background-position: -35.897436% 0}/* 26/39 */
.icon-custom-Nesfighter  {background-position: -33.333333% 0}/* 27/39 */
.icon-custom-Neslink     {background-position: -30.769231% 0}/* 28/39 */
.icon-custom-Pcecil      {background-position: -28.205128% 0}/* 29/39 */
.icon-custom-Pirate      {background-position: -25.641026% 0}/* 30/39 */
.icon-custom-Ray-sots    {background-position: -23.076923% 0}/* 31/39 */
.icon-custom-Rooks       {background-position: -20.512821% 0}/* 32/39 */
.icon-custom-Roto        {background-position: -17.948718% 0}/* 33/39 */
.icon-custom-Rydia       {background-position: -15.384615% 0}/* 34/39 */
.icon-custom-Sabin       {background-position: -12.820513% 0}/* 35/39 */
.icon-custom-Samus       {background-position: -10.256410% 0}/* 36/39 */
.icon-custom-Subrosian   {background-position:  -7.692308% 0}/* 37/39 */
.icon-custom-Tifa        {background-position:  -5.128205% 0}/* 38/39 */
.icon-custom-Ultros      {background-position:  -2.564103% 0}/* 39/39 */
