[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           16px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/ffmq/benjamin/sheets/previews/sprites.31.0.8.x.197.png);
}
.icon-custom-001benjamin {background-position:-100.000000% 0}/*  1/14 */
.icon-custom-Bartz       {background-position: -92.857143% 0}/*  2/14 */
.icon-custom-Cloudff7    {background-position: -85.714286% 0}/*  3/14 */
.icon-custom-Faris       {background-position: -78.571429% 0}/*  4/14 */
.icon-custom-Ff1ninja    {background-position: -71.428571% 0}/*  5/14 */
.icon-custom-Fighter     {background-position: -64.285714% 0}/*  6/14 */
.icon-custom-Gblink      {background-position: -57.142857% 0}/*  7/14 */
.icon-custom-Kain        {background-position: -50.000000% 0}/*  8/14 */
.icon-custom-Mogff6      {background-position: -42.857143% 0}/*  9/14 */
.icon-custom-Moogle      {background-position: -35.714286% 0}/* 10/14 */
.icon-custom-Neslink     {background-position: -28.571429% 0}/* 11/14 */
.icon-custom-Pcecil      {background-position: -21.428571% 0}/* 12/14 */
.icon-custom-Rydia       {background-position: -14.285714% 0}/* 13/14 */
.icon-custom-Subrosian   {background-position:  -7.142857% 0}/* 14/14 */
