[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           24px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/zelda3/link/sheets/previews/sprites.31.0.8.x.280.png);
}
.icon-custom-Random               {background-position:0 0}
.icon-custom-Link                 {background-position:-100.000000% 0}/* 1/9 */
.icon-custom-FourSwordsLink-Split {background-position: -88.888889% 0}/* 2/9 */
.icon-custom-Bob                  {background-position: -77.777778% 0}/* 3/9 */
.icon-custom-Checkerboxes         {background-position: -66.666667% 0}/* 4/9 */
.icon-custom-Gridheads            {background-position: -55.555556% 0}/* 5/9 */
.icon-custom-Grids                {background-position: -44.444444% 0}/* 6/9 */
.icon-custom-ItemRoulette         {background-position: -33.333333% 0}/* 7/9 */
.icon-custom-StickMan             {background-position: -22.222222% 0}/* 8/9 */
.icon-custom-Swatchy              {background-position: -11.111111% 0}/* 9/9 */
