[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           24px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/zelda3/link/sheets/previews/sprites.31.0.8.x.143.png);
}
.icon-custom-Random      {background-position:0 0}
.icon-custom-Link        {background-position:-100.000000% 0}/* 1/4 */
.icon-custom-Bob         {background-position: -75.000000% 0}/* 2/4 */
.icon-custom-ItemRoulette{background-position: -50.000000% 0}/* 3/4 */
.icon-custom-StickMan    {background-position: -25.000000% 0}/* 4/4 */
